[2019-12-08 23:01] rdzudzar opened #1 "Upgrade via pip failed"
I had installation of `cmasher` via: `pip install cmasher` and when I ran: `pip install --upgrade cmasher` I get the following error:
[code]
Any suggestions?

I am using Python 3.6.1 and system: OS X Yosemite Version 10.10.5

[2019-12-08 23:42] rdzudzar commented on #1
I went around `six` and upgraded `cmasher` like this:
`pip install --upgrade cmasher --ignore-installed six
and it is working now.

[2019-12-08 23:58] 1313e commented on #1
Hi @rdzudzar,
it looks like `six` was installed using a different method than the normal `pip` method, either with `conda` or installed manually.
The best way to solve this issue (besides ignoring it) is to uninstall six using the method it was installed with, and then install `six` again using `pip`.
You can also check if `six` was installed using `conda` and upgrade it if so, by using `conda upg

[2019-12-09 00:11] rdzudzar commented on #1
Yes, after `six` upgrade via `conda`, upgrade of `cmasher` does not result in error.

[2019-12-09 00:58] #1 closed

[2020-03-13 03:56] 1313e opened #6 "Write 'sitemap.xml' file for CMasher docs"
Title says it all.
In order to make sure that search engines (mainly Google) crawl the online docs of CMasher regularly, it will be required to have a 'sitemap.xml' file that lists all pages that frequently change.

Also, try to figure out why 'scientific colormaps' does not point to the online docs at all, even though that is literally in the title and description of CMasher everywhere.

[2020-07-20 10:14] #6 closed

[2020-07-21 14:50] teuben opened #16 "listing colortable for "export""
I use RGB text tables in NEMO, 3 columns, and I believe ds9 as well. So for the community it would be useful to have some kind of script that does:
       mkrgbtable cmr.rainforest > rainforest.rgb
I know they are also deep inside the python tree. I wrote something that might be of some use to clean up a but and feel feel to adopt that one. Mine is called mklut in NEMO, e.g..
     https://github.c

[2020-07-22 02:52] 1313e commented on #16
Hi @teuben,

great to see you like the CMasher colormaps.

To obtain the RGB values of a colormap, you can simply do `cmap.colors[:, :3]` as long as `cmap` is an instance of `ListedColormap` (all colormaps in CMasher are).
This will return the RGB tuples with normalized values of all colors in that colormap.
Another thing you can do (which works for all colormaps) is `cmap(np.arange(cmap.N))[:, :3

[2020-07-22 03:06] teuben commented on #16
the reason for the script is that I have a non-python programs that then can use this table. For example for this script you can read that example  rainforest.rgb into ds9 using       color -> colormap parameters  -> file -> load colormap
Either native MPL or your CMR. I can't use the pythonic output from print(), i needed a simple 3 column ascii file.

PS  The way I wrote the script, I believe "o

[2020-07-22 05:12] 1313e commented on #16
If you want a simple 3 column ASCII file, then simply do the following:
[code]
or (if you want 8-bit RGB values):
[code]
In case you specifically want it printed, replace `"path/to/file.txt"` with `sys.stdout` and it will print it to the console in the same format as would be saved to file.

As I am already providing the RGB values of all colormaps in CMasher in separate text files (both with norm

[2020-07-30 00:12] endolith opened #17 "install instructions"
Any reason not to list it as `pip install git+https://github.com/1313e/CMasher.git` ?

[2020-07-30 01:04] 1313e commented on #17
@endolith Mostly, because that results in basically the same thing as `pip install cmasher`.
At least when cloning it yourself, you actually have access to the repo.

The other reason is that the CMasher repo is rather large due to the large number of files that are in there.
One should not clone the repo unless they explicitly want access to all those files.

[2020-07-30 01:38] endolith opened #18 "create_cmap_overview should have a "as input" sort"
`create_cmap_overview` can take a list as input, and the list has an order already, so `sort=` should have an option for listing the colormaps in the order they were in the list.

[2020-07-30 01:40] 1313e commented on #18
That's not a bad idea actually.
Wonder how I did not think of that.

[2020-07-30 02:41] #18 closed

[2020-07-30 04:28] #17 closed

[2020-07-30 04:36] 1313e opened #19 "Replace pytest-pep8"
Starting in `pytest` v6.0.0, `pytest-pep8` is no longer supported as it uses a plugin structure that `pytest` has deprecated (this is why tests are currently failing).
Given that the `pytest-pep8` plugin has not been updated for over 5 years now, it is doubtful that it will be updated for this.

I will either have to remove PEP8-compliancy testing (which I would like to avoid) or replace the plugi

[2020-07-30 05:04] 1313e opened #20 "Implement CLI tools"
Although CMasher is made for Python, a large portion of its utility functions could work just as fine when called directly from the command-line.
Additionally, the colormaps are nothing more than representations of an RGB table, which can also be printed in a console.

As mentioned in #16, it might be desirable to generate an RGB table directly from the command-line, without having to execute code

[2020-07-30 05:27] 1313e commented on #18
@endolith I hope you don't mind that `sort=None` is not the default, as I have the feeling that sorting alphabetically is slightly more logical than not sorting at all.

[2020-07-30 13:16] endolith commented on #18
That's fine.  I used it here: https://github.com/endolith/bipolar-colormap/blob/master/examples/comparison.py

[2020-07-30 14:13] 1313e commented on #18
I saw yes, and immediately realized why you asked for this feature.

[2020-07-30 15:09] 1313e commented on #18
I think I will also add the feature tomorrow that one can set the title of the overview (or remove it altogether).

[2020-07-30 15:28] endolith commented on #18
That would be good too.  Did you see that I rewrote the names of the colormaps so they would display alongside?  And I had to add a space after _r names because it filters those out automatically.  I don't care that much, but maybe something to think about changing.

[2020-07-31 00:31] 1313e commented on #18
Ah, that's the reason why that works.
Yes,I had already an idea how to deal with that.

[2020-07-31 02:07] 1313e commented on #18
@endolith Can you check ed80773 and see if that works better?

[2020-07-31 09:11] graingert commented on #19
@1313e pytest-flake8

[2020-08-02 05:03] endolith commented on #18
@1313e Yes that works well https://github.com/endolith/bipolar-colormap/commit/214883682e457fc3be349344acef87008288a619

[2020-08-03 05:12] 1313e commented on #16
@teuben In the [cli_tools](https://github.com/1313e/CMasher/tree/cli_tools) branch, I am working on adding CLI tools to CMasher.
It will also be possible to obtain the RGB values of any colormap available in MPL (which, currently, will be MPL; CMasher; Cmocean; palettable; and colorcet, if they are installed) directly from the command-line with `cmr rgb_table <cmap_name>`.

[2020-08-11 04:54] #16 closed

[2020-08-11 04:54] #20 closed

[2020-08-11 04:54] #19 closed

[2020-08-11 06:52] 1313e opened #22 "Release CMasher on conda-forge"
Title says it all basically.

[2020-08-12 05:44] 1313e commented on #22
PR: conda-forge/staged-recipes#12366

[2020-08-12 09:32] #22 closed

[2020-08-18 04:21] 1313e opened #23 "[Community Help] Renaming 'heat'"
TL;DR: [Vote here](https://www.rkursem.com/poll/view.php?id=7a534757f91cab5f1)

So, one of the very first colormaps I have made, before CMasher existed or was even an idea, is the `heat` colormap.
Even though the `rainforest` colormap is the very first colormap I have made and will therefore always be special to me, the `heat` colormap is probably a close second.
I personally really like this colo

[2020-10-10 06:30] escherba opened #24 "A set of sequential colormaps that do not start with black"
**Describe the colors you would like**

**Describe the colormap type**
Sequential, perceptually uniform (or at least colorblind friendly)

**Describe any extra properties**
The specific property I would like to request is that the colormap does not start with pure black. Sometimes it is useful to have plot background set to black color.

**Is your colormap request related to a specific application

[2020-10-10 09:29] 1313e commented on #24
@escherba Thanks for the colormap request.
CMasher already has 7 colormaps that do not start in pure black, namely those that are below `voltage` in the colormap overview.
You can also convert any other colormap to one that does not start in black, by cutting off the first part using the `cmr.get_sub_cmap` function.

However, if you don't like those options, then I would like to make a colormap fo

[2020-10-10 19:46] escherba commented on #24
Thank you for the quick reply! I didn't really expect you to design me a color palette -- it was more of a general request ("it would be nice to have a larger or equivalent set of colormaps that do not start with pure black").

But cutting off the first part is a genius idea that I didn't consider, ha! With that option, I quite like "lilac":

    cmr_cmap = cm.get_cmap('cmr.lilac', 256)
    newcol

[2020-10-11 01:39] 1313e commented on #24
Of course I would do that. That's the point of this issue label.

CMasher actually provides you with a function to do that more easily, called `cmr.get_sub_cmap`.
So, in your case, you could write it as:
[code]

[2020-10-12 01:25] 1313e commented on #24
@escherba Is your request solved now, such that I can close the issue?

PS: Cutting off the first 15% of colormaps like `dusk` and `eclipse` would probably look pretty cool for like collections.
Same goes for cutting off the last 15% of `ocean` and `horizon`.

[2020-10-16 05:19] 1313e opened #25 "Preview version of application overview"
As the application overview figure on the "Usage" page is quite large (about 5 MB at this point), it would save loading time to create two versions of the plot: A preview that is shown on the page and the full-size one.
I will have to figure out how to do that though.

PS: Could also look into just more efficiently saving the figure, as I am unsure why the size of the file is so high.

[2020-10-19 22:56] #24 closed

[2020-10-20 04:45] manodeep opened #26 "Instructions for R/IDL/Matlab/etc users"
Would be good to have instructions on how `R`/`IDL`/`Matlab`/etc users might be able to use the `cmasher` colourmaps. Perhaps in the README or in the online documentation

[2020-10-21 03:16] #25 closed

[2020-10-21 04:05] 1313e commented on #26
That could be useful for others, yeah.
However, as I rarely use these languages, I don't know what the common way is of using colormaps in them.
Even if I would try to figure that out, it might not end up being the most optimal way of doing it.
So, flagging it with 'help wanted' for now to see if someone more experienced with these languages can help me with it.

[2020-10-21 21:57] manodeep commented on #26
I thought someone already ported the colourmaps to `R` - maybe they might contribute?

[2020-10-22 02:03] 1313e commented on #26
Oh yeah, @calofost did that at some point.
Would be great if they can help me out with this. :)

[2020-10-26 22:57] calofost commented on #26
Hi Ellert. As promised:

I used the R package ‘RColorBrewer’ to load in the RGB colour scales. Installing RColorBrewer is very simple:
[code]
To load all colour scales (First edit CMpath to point to the colormaps folder within the CMasher tar-ball/package):
[code]
Or to only load one (in this case cm_rainforest) selected colour scale (with example use). Again, edit variable CMpath accordingly, als

[2020-10-28 03:28] 1313e commented on #26
@calofost Thank you very much for the example.
I will add it to the documentation as soon as possible.

[2020-12-18 15:35] horsto opened #27 "Circular cmaps?"
I love these colormaps!
Do you have any circular (i.e. cyclic) ones planned by any chance?
https://matplotlib.org/3.3.3/tutorials/colors/colormaps.html#cyclic

[2020-12-19 00:27] 1313e commented on #27
@horsto Thanks for your question, I am happy you like the colormaps.
I have been thinking of making a cyclic colormap before, but their very niche application has thus far not convinced me to do it.
I have considered converting the `seasons` colormap into a cyclic colormap, but it will require some changes to my workflow and the colormap to do so.
Do you have any preferences for colors you want to

[2020-12-19 08:58] horsto commented on #27
Great. Yes, I agree that cyclic colormaps are a bit niche, but on the other hand there is not a lot to choose from at the moment and I personally use them on a regular basis. There is `['twilight', 'twilight_shifted', 'hsv']` as standard in matplotlib.  `twilight` is quite dark and to me at least does not seem very usable. Seaborn lets you use `husl` https://seaborn.pydata.org/tutorial/color_palet

[2020-12-19 09:43] 1313e commented on #27
Well, `hsv` is not a perceptually uniform sequential colormap and even `twilight` is not.
So, technically, matplotlib has no good cyclic colormaps.
I am personally not a fan of rainbows either, even if I have made some colormaps that resemble them.

I will have a look (hopefully during Christmas) if I can maybe convert `seasons` into a proper cyclic colormap.

[2020-12-19 09:49] horsto commented on #27
That sounds good!

[2021-01-05 05:19] 1313e commented on #23
Currently, it seems that `torch` is preferred as the replacement name for `heat`.

[2021-03-15 22:20] 1313e commented on #27
So, as a bit of an update: I have been quite busy, but I also have been working on improving `viscm` to handle cyclic colormaps properly.
However, cyclic colormaps are incredibly tricky to create properly, due to them having 3 reference points instead of 2.

In case anyone is interested: When creating a diverging or cyclic colormap, the perceptual range of both sides of the colormap must be the sa

[2021-03-19 16:31] horsto commented on #27
That sounds very difficult indeed... I am sorry I am of no help. If you have something - even just something intermediary - it would be cool to discuss!

[2021-03-20 06:49] 1313e commented on #27
I could do a dirty way of making one, but if I am going to add cyclic colormaps to CMasher, I want to do it properly.

[2021-03-25 08:25] 1313e commented on #27
So, I got a bit bored today, so I decided to go and finally fix the issue of not being able to reliably produce cyclic colormaps.
After wasting way too many hours and paper on this, I think I finally found a solution that is reliable enough for the standards I have for CMasher.
So, support for cyclic colormaps was added in 1313e/viscm@921e96e.

As an example, here is a cyclic version of the `fusio

[2021-03-25 09:18] horsto commented on #27
Very cool - this is a great addition.
Could you wrap `neon` or `tropical` into a circular map somehow? I.e. not to have the black and white zero / +- pi points?

[2021-03-26 00:33] 1313e commented on #27
I could probably make a cyclic colormap that uses both of those colormaps.
I am also thinking of converting `seasons` (and maybe `pride`) to a cyclic colormap.

[2021-03-26 06:32] 1313e commented on #27
I have added a cyclic version of `seasons` to CMasher now on the `dev` branch.
I will probably add at least 2 more cyclic colormaps before actually release v1.6.
So, stay tuned. :)

[2021-03-31 02:11] 1313e commented on #27
@horsto How about something like this?
![infinity](https://user-images.githubusercontent.com/30159027/113080361-89994a00-9222-11eb-908f-b61141691e09.png)

[2021-03-31 09:55] horsto commented on #27
Looks awesome. I think these are really cool additions to the repertoire.

Fantastic...

[2021-04-01 01:22] 1313e commented on #27
Yes, you are fine with that colormap being the cyclic version of `neon`/`tropical`?

[2021-04-03 09:14] horsto commented on #27
Yes, I think it looks great and I don't have any ideas to improve it really. Is the saturation level for each color optimal? The only thing I'd think about is the 'punchiness' of the appearance, which could maybe be improved? Otherwise, great colormap - I would use it as is.

[2021-04-03 11:05] 1313e commented on #27
I could increase the saturation, but then you lose lightness and perceptual range.

[2021-04-03 11:13] horsto commented on #27
Got it.

Is that packaged / accessible through `_r` later?

[2021-04-03 11:22] 1313e commented on #27
One of them will be, yeah.

[2021-04-06 03:00] 1313e commented on #27
Alright, 3 cyclic colormaps were added in v1.6.0.
Does this resolve this issue, @horsto?

[2021-04-06 05:34] horsto commented on #27
Awesome work! Great addition...
I will spread the word👍🏻

[2021-04-06 06:34] #27 closed

[2021-04-06 10:02] ycopin opened #32 "Colormap summary table"
You mention in a documentation note that colormaps are sorted according to minimum and maximum lightness values, Starting (sequential) or central (diverging and cyclic) lightness value, Difference between the minimum and maximum lightness values and RMSE (root mean square error) of the derivative of the lightness profile. Could these quantities be centralized in a table?

[2021-04-07 00:52] 1313e commented on #32
I could certainly make a table like that.
However, it will solely be for CMasher colormaps, for which the RMSE is pointless to report (it is always zero).
It will take me some time to write a script for it, as I would like to make that table in an automatic way, just like all colormap data is handled automatically in a script.
And, I have to figure out where I am going to put it in the online docs

[2021-04-07 07:50] ycopin commented on #32
You could put it in place of the long list of links under "Individual colormaps" in https://cmasher.readthedocs.io/user/sequential.html

Running your quantitative script on historical matplotlib cmaps would also have an interest, e.g. for people to realize the gain to use cmasher...

[2021-04-08 00:26] 1313e commented on #32
Uhm, that list is necessary to make the pages appear in the table of contents on the left.
In Sphinx, every page must be reachable from at least 1 other page without using the side bar.
However, I could put the table either right after the overview, or put it in the overview somehow.

[2021-04-08 03:56] 1313e commented on #32
Question for you, @ycopin: Would you also want to have the lightness profile type for sequential colormaps be visible?

[2021-04-08 04:28] 1313e commented on #32
So, for example, I can modify the colormap overviews to look like this:
![test](https://user-images.githubusercontent.com/30159027/113968530-9ba86780-9876-11eb-846b-b6aa55d75f63.png)

[2021-04-08 04:33] 1313e commented on #32
Or this for all colormaps in MPL and CMasher.
![test](https://user-images.githubusercontent.com/30159027/113968940-694b3a00-9877-11eb-967a-0fb584944c88.png)

[2021-04-08 05:15] 1313e commented on #27
PS: Don't forget to star the repo, so I can keep track of the number of users that CMasher has. :+1:

[2021-04-08 07:59] ycopin commented on #32
Wow, that's a lot to ingest! Thanks for the hard work!

- can't links be included in tables?
- what is the definition of the triplet in the previous figures: I assume 1st two are somehow min and max of lightness, or start en end values? (it doesn't seem to work with all cmaps though, e.g. greys or season). What is the 3rd value, RMS of derivatives? In which units?
- I really like the individual li

[2021-04-08 08:11] 1313e commented on #32
- They can, but I have a feeling you want to see the actual colormap when I am providing those values;
- The values under the names are the three values you mentioned: Starting or central lightness value; lightness range and lightness RMSE;
- The range is nothing more than the difference between the lowest and highest lightness/perceptual value;
The triplet indeed refers to the lightness, not to t

[2021-04-12 01:03] 1313e commented on #32
Any thoughts?

[2021-04-12 04:54] dptriani opened #33 "I love pastel colors, it will be cool to have a pastel colormaps :)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you would like**

**Additional context**

[2021-04-12 04:57] dptriani commented on #33
Not really

[2021-04-12 05:10] 1313e commented on #33
What type of colormap should it be and which color(s) should (roughly) be in the colormap?
Pastel colors includes a wide range of different colors, which cannot all be included in a colormap.

[2021-04-12 05:27] 1313e commented on #32
I modified the 3 numbers to instead give starting/central lightness; final/outer lightness; and lightness RMSE values instead:
![test](https://user-images.githubusercontent.com/30159027/114344593-77fd5e00-9ba3-11eb-8b75-ba1900f7dfa6.png)

[2021-04-12 05:41] 1313e commented on #23
After having this poll open for way too long, I have made the decision to rename `heat` to `torch`.
This will be done in v1.6.1.
`heat` itself will remain available as well (with a warning that it was removed) until v1.7 is released.

[2021-04-12 05:41] #23 closed

[2021-04-14 18:45] ycopin commented on #32
I was thinking about a way to define the "colorfulness" of a cmap: is there a standard metric to measure it? Obviously, a colorful cmap have a large extent in the viscm (a', b') plane, while a dull one will have a small imprint, and vanishing for pure B&W cmaps. Could one estimate colorfulness from projected area in the (a',b') plane?

[2021-04-14 23:34] 1313e commented on #32
I could do so.
After all, in `viscm`, I have to calculate that as well.
Jist wondering how useful it would be to have that number.
It would basically be the perceptual range, as reported on the individual colormap pages in the overview plot.

[2021-04-15 09:33] ycopin commented on #32
Sorry to be a nuisance, but you repeatedly mention the "perceptual range", and I cannot seem to find any quantitative mention of it. The viscm shows the "perceptual derivative" in addition to "perceptual lightness deriv.", but I still don't understand how is defined perceptual range, or where to find the definition... :-/

[2021-04-15 10:50] 1313e commented on #32
The perceptual range/derivative is a measure of the amount of color change there is in a colormap.
I can give you an exact definition of it if you want, but that just involves lots of math.
The just of it is that the higher the number, the more different colors a colormap goes through, and the more distinguishable neighbouring colors will be (assuming it is a perceptual uniform sequential colormap

[2021-04-16 02:05] kgrasha opened #34 "Diverging white-centered colormaps with"
**Describe the colors you would like**
I am currently using the cosmic and the gothic sequential colormaps and I love these colors (especially that really nice bright blue in cosmic) and for uniformity in the plots, I'm not super happy with current blue and purple diverging colormaps for subsequent plots when showing distributions from the mean. Two diverging colormaps with white centres (one blue

[2021-04-16 04:23] 1313e commented on #34
Hi @kgrasha,
thanks for your request and it is great to see that you like the colormaps that CMasher has to offer.
I have quite a long answer to your request, so bear with me please.

So, if I understand correctly, what you are looking for is the following:
1. Bright blue - red/orange white-centered diverging colormap (`cosmic`/`sunburst`);
2. Purple - red/orange white-centered diverging colormap

[2021-04-22 00:35] kgrasha commented on #34
The more I think about it, `fusion` and a white-centered iceburn would be completely appropriate for what I'm looking for. I hear what you are saying regarding cosmic, and while I love it, having it go from white simply cannot be achieved. Who would have thought that I should have just asked for a white-centered iceburn!

[2021-04-22 01:25] 1313e commented on #34
Haha.
That is why I gave a detailed and extensive answer, to show you the possibilities.
Would you like the white-centered `iceburn` to be rather dark near the edges or just bright like the `prinsenvlag` concept above?

[2021-04-22 01:30] kgrasha commented on #34
Bright like the `prinsenvlag` concept above is great!

[2021-04-22 01:45] kgrasha commented on #34
thank you!

[2021-04-22 09:42] nikosarcevic opened #35 "eclipse divergent and other possibilities"
**Describe the colors you would like**
yellow and dark blue/green (like eclipse), orange and gray, orange and purple/or dark brown/or dark blue(blue might be the best)

**Describe the colormap type**
diverging, sequential

**Describe any extra properties**
Colorblind-friendliness; lightness range; color focus; etc.

**Is your colormap request related to a specific application? Please describe.**
I

[2021-04-22 11:53] 1313e commented on #35
Hi @nikosarcevic,
great to see that you like CMasher.

I can certainly make a diverging colormap that uses `eclipse` on one side.
What color would you like on the other side?
I see you mentioned a few, but that is quite a lot to try out.
I would suggest something like purple or blue, as that is far away from yellow and thus makes it easy to distinguish both sides.

[2021-04-22 11:57] 1313e commented on #34
Alright, I am hoping to tackle all these open issues tomorrow.
Tomorrow is going to be a very colorful day it seems. :)

[2021-04-22 11:58] nikosarcevic commented on #35
Hi, @1313e ,

thanks for such a prompt response! Yes I agree something like blue would be grand!
I am not sure how complicated it is to try two options (I assume it is a lot of work . which is why I did not want to generate anything myself as I am still a noob). I still vote for yellow from the eclipse and dark blue (to keep it moody just like eclipse).
Omg if you would do this for me that would b

[2021-04-22 12:01] nikosarcevic commented on #35
OMG I just saw you are a phd at Swinburne! BTW my best friend is Robert Dzudzar and you know each other! WOW world is so small! Thanks so much for making CMasher it is so great!

[2021-04-22 23:32] 1313e commented on #35
Yeah, I'm good friends with Robert as well.
Did he not mention that when telling you to open an issue?

[2021-04-22 23:35] nikosarcevic commented on #35
I've discovered CMasher Independently from Robert. Then I mentioned it and it seems he did tell me he knows you but I somehow missed that in our chat some time ago. Then this morning when I realized where you were, I mentioned and he was like "but I told you I know him". LOL me and my brain.
Oh and BTW I saw you are from NL - love the country. Cant wait to travel again so I can go back. (been ther

[2021-04-23 00:05] 1313e commented on #35
Btw, you could have known that I know Robert if you had read the CMasher paper. ^^

[2021-04-23 00:06] nikosarcevic commented on #35
welp! 😂

[2021-04-23 00:48] 1313e commented on #35
Anyway, combining two existing colormaps with each other to make a diverging colormap does not take that long.
Give me a minute.

[2021-04-23 00:59] 1313e commented on #35
This is `cosmic` plus `eclipse` (and a few modifications to make it look correct):
![cosmic_eclipse](https://user-images.githubusercontent.com/30159027/115802789-df78a080-a422-11eb-9370-e0c93c5db163.png)

[2021-04-23 05:04] 1313e commented on #34
Alright, the `prinsenvlag` colormap was added in 812f6d3.
I am waiting for responses in other issues before v1.6.1 on the `dev` branch will be released.
If you really need the colormap right now, you can download [this file](https://github.com/1313e/CMasher/blob/dev/cmasher/colormaps/prinsenvlag/prinsenvlag.py) from the `dev` branch and load the colormap into MPL that way.

[2021-04-23 10:58] nikosarcevic commented on #35
looks nice. sorry for nagging but is it possible to just take the eclipse seq and make it div? does it make any sense in terms of color theory? because I really really like just the colors in the eclipse

(side comment unrelated: when I submitted an issue, ive noticed my comments were not there. I had to remove the HTML part of the code in the template  (where you place the text, meaning the <> an

[2021-04-23 13:40] 1313e commented on #35
How would a diverging colormap work that has the same colors on both sides?
Then you cannot tell the difference between left and right.

[2021-04-26 00:27] 1313e commented on #35
Do you want me to provide a Python standalone version of the colormap above, such that you can try it out in your plots and then give me feedback on it?

[2021-04-26 07:01] nikosarcevic commented on #35
Hi @1313e
sorry for not responding sooner, I was offline for the weekend.

I didn't express myself well in the previous part - there are basically 3 main colors in the eclipse: yellowish, greenish and black. so if we can have yellow on one side, that teal/green/blue on the other and then black in the middle? or something like that? actually not sure if it would make sense?

Second Q you asked: yes

[2021-04-26 07:25] 1313e commented on #35
This could be done, but then I need to come up with colors that fill up the remaining spaces.
Because, pretty much, that would result in the yellow side requiring filler darker colors and the green side requiring filler brighter colors.
After all, `eclipse` is a sequential colormap, and diverging colormaps are pretty much two sequential colormaps slammed together, so pretty much you are asking me

[2021-04-26 07:28] nikosarcevic commented on #35
thank you so much. I agree with your points, you have much more experience in this than I do (color theory). I need to finish up some administrative stuff quickly but I can share the results (plots) and my thoughts here soon.

[2021-04-26 11:56] rdzudzar opened #36 "Instructions on how to import CMasher colormaps into Tableau"
Hi,
I compiled here a short "How to import CMasher colormaps into Tableau" explanation, feel free to edit it and include in your Documentation :)

Once you have your **Tableau** installed (tested with Public and Desktop version of Tableau), by default you will have **My Tableau Repository** folder inside **My Documents**.  Within this folder, you may already have or you can create Tableau _Prefere

[2021-04-27 00:33] 1313e commented on #36
Thank you very much, @rdzudzar.
Always great to see people using CMasher in different ways than just Python.
I will have a look at this today.

[2021-04-27 05:58] nikosarcevic commented on #35
Hello, @1313e

as you can imagine, the admin stuff has gotten out hand and had teaching to do yesterday so didn't manage to send you the update - but I did test it. Here is the plot in celestial: looks good, cannot argue. Now I do not want to sound horrible or ungrateful but I do not think (damn this is so hard to say) I will be using it for these plots. I still would like some other combination.

[2021-04-27 06:16] 1313e commented on #35
That is fine, don't worry about it.
Do you know any colors you would like to replace the blue side with?
It is probably better if you could describe it in terms of colormaps that CMasher already has, as that gives me (and you) a much better idea what surrounding colors would likely end up on that side.

[2021-04-27 06:50] nikosarcevic commented on #35
hmm something like sepia, arctic or fall?

[2021-04-27 06:51] 1313e commented on #35
Let me have a look at that.

[2021-04-27 06:52] nikosarcevic commented on #35
ok I need to go do some quick chores and shower so ill be away from my laptop for an hour or so (in case you ask me something)

[2021-04-27 17:58] adrn opened #37 "Possible contribution: some sequential, some ~diverging"
I have a set of colormaps that I have found useful in various contexts, and I was just [going through the process of packaging them](https://cmastro.readthedocs.io/en/latest/) when @dfielding14 pointed me to this repo :). So, checking in here to see if you would be open to contributions.

![colormaps](https://cmastro.readthedocs.io/en/latest/_images/index-1.png)

**Describe the colormap type**

Th

[2021-04-28 02:36] 1313e commented on #35
Alright, I have 4 concept colormaps for you:
![arctic_eclipse](https://user-images.githubusercontent.com/30159027/116337520-960ec380-a81d-11eb-90cb-9ee52947691e.png)
![arctic_eclipse_extended](https://user-images.githubusercontent.com/30159027/116337524-9909b400-a81d-11eb-8a67-784ef9f1577a.png)
![fall_eclipse](https://user-images.githubusercontent.com/30159027/116337527-99a24a80-a81d-11eb-9623-981

[2021-04-28 02:37] 1313e commented on #34
Can I consider this issue to be resolved, @kgrasha?

[2021-04-28 02:52] 1313e commented on #37
Hi @adrn,
good to see others making good colormaps out there.

Regarding adding colormaps to CMasher: I am incredibly picky when it comes to this, as also mentioned in [the online docs](https://cmasher.readthedocs.io/user/FAQ.html#can-i-add-my-own-colormaps).
For example, they must be fully perceptually uniform sequential and unique when compared to the colormaps that are already in CMasher.
Looki

[2021-04-28 03:13] kgrasha commented on #34
Yes

[2021-04-28 03:13] #34 closed

[2021-04-28 03:42] #37 closed

[2021-04-28 07:39] rdzudzar commented on #36
Tested your code for producing the `Preferences.tps` file, all works well. Here is the updated image:
![Tableau_cmaps](https://user-images.githubusercontent.com/33647339/116365563-b86a0680-a848-11eb-9442-c009490abac5.png)

[2021-04-28 08:34] nikosarcevic commented on #35
W O W

this is amazing. this is awesome. wow wow wow!!

thank you so so much!!!!!

[2021-04-29 04:56] 1313e commented on #36
This was added to CMasher in ebba3c9 and will be available in v1.6.1.

[2021-04-29 04:56] #36 closed

[2021-05-02 23:58] 1313e commented on #35
@nikosarcevic Did you try out the new colormaps? :)

[2021-05-03 06:23] nikosarcevic commented on #35
Hi, @1313e
YES! Sorry forgot to share here. Loving it! Thanks so much. Are you planning on implementing it into cmr soon? Thanks a bunch again :much obliged:
<img width="851" alt="Screenshot 2021-05-03 at 07 21 24" src="https://user-images.githubusercontent.com/32773944/116846540-60ccf180-abe0-11eb-8396-49db1f321f12.png">

[2021-05-03 06:25] 1313e commented on #35
I am definitely not adding all of them.
I am just asking you which one you like the most and whether I should make more changes somewhere.
As far as I can see, you are using the `sepia_eclipse` colormap, which is more a cyclic colormap and not a diverging colormap, as you can see in the colorspace overview.
So, if I would add it, I would make several changes to it to make it a diverging colormap.

[2021-05-03 06:37] nikosarcevic commented on #35
I think I am using a fall_eclipse one with trimmed "edges" in that one. I like the last two ones the most (sepia_eclipse and fall_eclipse). Would those two be too much to ask? If I have to choose only one it would be fall_eclipse I think. :)

[2021-05-03 06:41] 1313e commented on #35
That one is also cyclic actually.
So, I will have to trim it.
I will have a look in a few hours to see what I can do about it.

[2021-05-03 06:43] nikosarcevic commented on #35
no rush from my side, I have your code :)
(although I have noticed it slows down my computing A LOT. I just jupyter nb for plotting as it is the easiest. so I just copy your code into a cell, rename the map and use it that way. it really makes to nb run super slow. not sure if that is the best way to use it - am I doing it a noob way? XD)

[2021-05-03 06:45] 1313e commented on #35
Why don't you just import it?
Just put the Python file in the same directory as where your Jupyter notebook is, and then just import the colormap with `import <colormap_name>`.
After that, you can use it the same way you could normally do through MPL.
However, it can take a little while to import it the first time, as creating and registering a colormap takes a little while.

[2021-05-03 06:52] nikosarcevic commented on #35
ah ok I will try it that way! thanks and sorry for being a noob 😂

[2021-05-03 08:05] 1313e commented on #35
Actually, I could add either of them to CMasher as a cyclic colormap, and one can convert it to a diverging colormap by cutting off the edges using CMasher.

Anyway, you can of course pick all of them.
However, I won't add all of them to CMasher.
If you want all of them, I will give you the source files as well after cleaning them up a bit.

[2021-05-03 08:55] nikosarcevic commented on #35
No problem and yes please share the code once you do your magic! All the best from NCL!

[2021-05-04 00:34] 1313e commented on #35
Alright, let me perform some arcane rituals...., I mean, magic...

[2021-05-04 04:04] 1313e commented on #35
Alright, so I took the `fall_eclipse` and `sepia_eclipse` colormaps I showed above and turned them into actual proper colormaps.
Below are their `viscm` outputs:
![fall_eclipse_cyclic](https://user-images.githubusercontent.com/30159027/116959134-031fce80-ace0-11eb-84c7-bbedd19d9807.png)
![sepia_eclipse_cyclic](https://user-images.githubusercontent.com/30159027/116959139-0450fb80-ace0-11eb-80d2-c44

[2021-05-04 06:13] nikosarcevic commented on #35
That looks absolutely stunning!!! WOW
You , sir, [are a wizard](http://gph.is/2noyXQD)!

I will have to try to see if I have the time to test today - I am teaching two courses and attending a conference and have some work to finish today but I will report back as soon as I can.
Thank yo use much for this.

[2021-05-04 07:18] 1313e commented on #32
@ycopin Do you have any further comments or suggestions?

[2021-05-04 10:29] ycopin commented on #32
Nope, thanks!

[2021-05-05 02:34] 1313e commented on #32
Alright, so I am thinking of replacing the RMSE of the lightness profile with the perceptual derivative instead, as that gives more insight into the number of colors that the colormap has.
After that, would you agree that replacing the sequential and diverging colormap overviews on the docs with an overview that has this information as well, solves your issue?

[2021-05-05 08:13] ycopin commented on #32
I just provide semi-constructive comments, feel free to proceed as you think is best! And again, thanks for the hard work.

[2021-05-05 08:47] 1313e commented on #32
So, this is what I was thinking of.
Of course, I will add an explanation of what the three numbers mean, but they give the starting/central lightness value; the final/outer lightness value; and the perceptual range of every colormap.
Basically, the first two numbers state what the range of lightness values is that the colormap covers.
The third value is a measure of how many colors there are in th

[2021-05-05 08:57] ycopin commented on #32
IMHO,
* The 1st two numbers should be min and max, because the order is not really meaningful and a bit confusins (you can always take the reversed cmap)
* the 3rd number should somehow be normalized: strange to see "colorfulness = 100" for a grey cmap!
* Yes, I think this would be useful in tabular form, where one could order according to the various quantities.

[2021-05-05 09:10] 1313e commented on #32
- The first two numbers are min and max lightness, for sequential colormaps that is.
Diverging and cyclic colormaps have no min and max, so I give the central and edge lightness values instead.
- The perceptual range has no maximum value, and therefore cannot be normalized.
One could make a colormap that has a perceptual range below 100 but does have other colors than grey.
This would however requ

[2021-05-06 06:16] 1313e commented on #35
_Patiently waiting_

[2021-05-06 06:21] nikosarcevic commented on #35
@1313e I am so sorry! I simply do not have the time this week. I have a proposal to finish, two conferences and respective meetings, teaching and some other projects to wrap up that are due by Monday. I am simply going mad here :cry:

I am almost certain I did test the fall_eclipse one on Monday lemme quickly check

[2021-05-06 06:24] 1313e commented on #35
Well, then I will see your comments arrive next week.
No need to hurry.
As I said, I am patiently waiting.

[2021-05-06 06:25] nikosarcevic commented on #35
thanks! it seems I did not test it then :(

off I go shower and continue writing the proposal (wish me luck!)

[2021-05-06 06:26] nikosarcevic commented on #35
btw are you on twitter? or anywhere on SM I can get in touch other than here?

[2021-05-06 06:29] 1313e commented on #35
The only place would be Facebook then I guess.

[2021-05-11 06:48] #32 closed

[2021-05-13 17:55] nikosarcevic commented on #35
ahahah well there is an update. I was installing some cosmo related libraries, made a mess, nothing works including my ipython 😂😂😭😭😭😭 have to try to reposter everything and install what I need. wish me luck. so stoooopid 😂😂😂

[2021-05-13 21:43] nikosarcevic commented on #35
so after taking a substantial amount of time to make everything work (yay me), here are the plots:

<img width="799" alt="Screenshot 2021-05-13 at 22 40 04" src="https://user-images.githubusercontent.com/32773944/118191363-5b6f7280-b43c-11eb-88dd-182bed1963ff.png">
<img width="767" alt="Screenshot 2021-05-13 at 22 40 22" src="https://user-images.githubusercontent.com/32773944/118191369-5d393600-b4

[2021-05-13 21:51] nikosarcevic commented on #35
<img width="777" alt="Screenshot 2021-05-13 at 22 50 47" src="https://user-images.githubusercontent.com/32773944/118192198-ae95f500-b43d-11eb-9d1c-c2fca2d4eb20.png">

and the cyclic version :)

[2021-05-13 23:59] 1313e commented on #35
You approve of both colormaps? 😄

[2021-05-14 05:50] nikosarcevic commented on #35
here is an official niko blessing :waves hands in the blessing way, chanting: 😂😂😂

lemme know if you need help naming.

[2021-05-14 05:53] 1313e commented on #35
If you have any suggestions, I will take them.

[2021-05-14 05:55] nikosarcevic commented on #35
fall eclipse cyclic looks like it could be "amber" and sepia eclipse cyclic looks like "haze" in my brain 😎

[2021-05-14 05:59] 1313e commented on #35
Well, `amber` is already a colormap, so that is kinda hard, but `haze` sounds pretty cool actually.

[2021-05-14 06:02] nikosarcevic commented on #35
ah damn I mena ember but it corrected me to amber. but yeah that would be too ambiguous. lemme think.

[2021-05-14 06:06] 1313e commented on #35
`ember` also already exists. :laughing:

[2021-05-14 06:07] nikosarcevic commented on #35
r u serious? why didn't I look it up before!!!!!and I use cmasher hahahahaha :what a facepalm.

I need to wake up properly lemme make some coffee 😂😂😂

[2021-05-14 06:09] 1313e commented on #35
If you have CMasher v1.6.1 installed, you can get a list of all names by executing `cmr cmlist` on the commandline.

[2021-05-14 06:15] nikosarcevic commented on #35
what about tinder? it reminds me of something fire related?

[2021-05-14 06:33] 1313e commented on #35
I will take them into consideration. :)

[2021-05-19 05:52] 1313e commented on #35
So, I have decided to not add the `fall_eclipse_cyclic` to CMasher, as it is simply too similar to `pride`.
Therefore, it will also not receive a name.
Which means, you can give it whatever name you feel like (just modify it both within the file and the name of the file).

The `sepia_eclipse_cyclic` will receive a name fairly soon.

[2021-05-20 10:31] nikosarcevic commented on #35
no problemo! I have "my own" ahahaha. Thanks so much for this! BTW Robert texted me saying "57 messages on GH issues? you guys are insane"

[2021-05-25 03:19] 1313e commented on #35
Alright, `sepia_eclipse_cyclic` was added as `copper` in v1.6.2, so I will mark this issue as complete.

PS: I also added the colormap `ghostlight`, which you might be interested in actually.

[2021-05-25 03:44] #35 closed

[2021-05-25 08:36] nikosarcevic commented on #35
Copper is such a grand name! Everything looks so good, thanks so so much.

BTW I noticed prinsenvlag is a new one  and I love it! Name is perfect (prima!)

[2021-06-02 15:21] toelzstudios opened #38 "XML format"
I love your colormaps. Could you provide them in XML format? That way e.g. ParaVIEW users could also benefit from your colormaps :) The files have the following form:

<ColorMaps>
<ColorMap name="cmap_name" space="RGB">
<Point x="0.000000" o="1" r="0.015312" g="0.022521" b="0.072729"/>
<Point x="0.003922" o="1" r="0.018005" g="0.025446" b="0.078419"/>
<Point x="0.007843" o="1" r="0.020901" g="0.02

[2021-06-03 00:33] 1313e commented on #38
Hi @toelzstudios,

yeah, I could do that.
Would be very similar to the Tableau XML file CMasher can already create.

[2021-06-04 01:11] 1313e commented on #38
I will need to know what the exact format is around the file.
Where is the file to be placed?
What should its name be?
Stuff like that.

[2021-06-07 05:16] dptriani commented on #33
Light blue, pink, muted yellow. I think having a diverging colormap where the lightness not changed is also useful

[2021-06-16 01:04] 1313e commented on #33
It is impossible to make a diverging colormap that has no lightness changes.
Also, not allowing for any lightness changes would give something similar to the `phase` colormap in cmocean: https://matplotlib.org/cmocean/#phase

[2021-11-12 02:23] dptriani commented on #33
<img width="274" alt="Screen Shot 2021-11-12 at 1 17 41 pm" src="https://user-images.githubusercontent.com/32476693/141397688-25faa5b3-4b39-4618-bb29-ce9e0a6f6f9f.png">
I found an example of a pastel colormap! (although this is kinda the pastel-version of a rainbow colormap).

[2022-03-04 15:57] meatball880207 opened #42 "Is there any chance you can make this colormap for me? Thank you so much in advance."
<img width="719" alt="Screen Shot 2022-03-04 at 11 57 01 PM" src="https://user-images.githubusercontent.com/7799182/156796538-272ee8bf-3a34-4f3a-970b-e9350ce05ab0.png">

[2022-03-04 16:55] 1313e commented on #42
I can attempt to make a colormap similar to that one, but I solely make perceptually uniform sequential colormaps, and the one above definitely is not that.
Do you have any additional information on why you want to use this, and what for?

[2022-08-20 12:08] neutrinoceros opened #43 "Future incompatibility with MPL"
Just wanted to warn you about the pending deprecation of some functions in the `matplotlib.cm` namespace that are used in cmasher, like `get_cmap`

https://github.com/matplotlib/matplotlib/pull/23668

If it's any help, here's the patch I wrote to adapt to these deprecations in `yt`
https://github.com/yt-project/yt/pull/4089

I can also submit a PR here if you lack time for this.

[2022-08-20 19:13] 1313e commented on #43
@neutrinoceros Thanks for the heads up.
I will make the changes for this soon.

[2022-09-06 14:39] 1313e commented on #43
@neutrinoceros Well, I said I would do it soon, but it seems I cannot find the time to sit down and do this.
So, if you wish, you can open a PR with the required changes for it.

[2022-11-02 17:26] dfielding14 opened #46 "2D Colormaps"
Hello,

I am long time admirer and user of your great colormaps!

Lately I have been playing around a little bit with making 2D colormaps from your original 1D colormaps. To do this I shift the overall lightness / darkness of the whole color map. However, my current implementation is very rudimentary, all I do is linearly interpolate the rgb values up or down based on the second variable I am plot

[2022-11-05 18:00] 1313e commented on #46
I have tried many times to make colormaps like that before, but yeah, you cannot have vivid colors while also maintaining perceptual uniformity across the entire colormap.
Often you just end up with something like your second example.
The big reason for that is because requiring that lightness and saturation change linearly, forces you to pick a very specific hue, leaving little room for color cha

[2022-11-13 15:03] chadagreene opened #47 "Missing "*_s" colormaps"
The colormap overview image shows a few colormaps that end with _s (e.g., copper_s), but I don't see any corresponding text files for these. Is the repo missing something, or am _I_ missing something?

[https://github.com/1313e/CMasher/blob/master/cmasher/colormaps/cmap_overview.png](https://github.com/1313e/CMasher/blob/master/cmasher/colormaps/cmap_overview.png)

[2022-11-15 17:31] psharda opened #49 "Ability to reduce central 'whiteness' in diverging colormaps"
I would like to use cmasher's beautiful diverging colormaps for plotting purposes. I need a diverging colormap where the color in the centre is 'close to' white but not completely white. The closest equivalent of what I want is the colormap 'coolwarm' in Matplotlib. Just like cmasher has an ability to cut colors from the edges, is it possible to introduce the ability to cut color from the centre?

[2022-11-18 18:52] 1313e commented on #47
They are created automatically when importing the source file, as CMasher will detect that it is a cyclic colormap.

[2022-11-18 18:52] #47 closed

[2022-11-18 18:53] 1313e commented on #49
Hmm, that shouldn't be too hard to make. I can have a look at that.

[2022-11-18 19:13] psharda commented on #49
Great, thanks! Looking forward to it.